<div class="jumbotron">
    <h1>Jogo da Velha</h1>
    <p class="lead">O objetivo deste projeto é desenvolver uma api para um game multiplayer de <b>Jogo da Velha #</b>.</p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>ASP.NET Web API</h2>
        <p>API REST com .Net Framework 4.6.1 e alguns padrões de desenvolvimento como "DDD", "Injeção de Dependência", "Factory" e outos.</p>
    </div>
    <div class="col-md-6">
        <h2>Documentação.</h2>
        <p>Foi utilizado o Swagger para descrever e documentar a API.</p>
        <p><a class="btn btn-primary" href="/Swagger">Swagger &raquo;</a></p>
    </div>
</div>